.header{
  height: 130px;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
}

.header-img{
  height: 100%;
}

.header-nav-item{
   font-size: 24px;

}

/* .header-nav{
   margin-top: 40px;
   margin-right: 20px;
} */

.header-nav-item >ul{
   display: flex;
  /* bool,number symbole remove */
  list-style-type: none;
}

.header-nav-item > ul > li{
   padding: 0px;
   margin: 20px;
  
}

.cart-iteam{
  display: flex;
  flex-wrap: wrap;
}

.cart{
  margin: 10px;
  width: 200px;
  height: 200px;
}

.cart-img{
  width: 100%;
}
